<!doctype html>
<html lang="en">
 <head>
  <title>some website</title>
  <meta charset="utf-8">
 </head>
 <body>
{{>header}}
<p>this site is under maintainence................

{{>footer}}
 </body>
</html>
